.col-xs-6{
  min-height: 50px;
  background-color: gold;
}

ul{
  min-height: 60px;
  background-color: lightyellow;
  padding-left: 5px;
}

button.btn{
  margin-bottom: 20px;
  margin-top: 5px;
}

body {
  background-color: lightyellow;
}

li {
  list-style: none;
}